@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
#presentation-background h1, #presentation-background p {
    margin: 0px;
    padding: 0;
}
/* HEADER */
#presentation-background {
    width: 100%;
    height: 300px;
    background-color: #000000;
    background-size: cover;
    background-size: 100% 600px;
    background-repeat: no-repeat;
    border-bottom: 1px double grey;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#presentation-title {
    font-size: 10rem;
    font-family: "Exo 2", 'Courier New', Courier, monospace;
    font-style: italic;
    text-shadow: 0px 0px 5px wheat;
    color: white;
    animation-name: text-apear-animation;
    animation-duration: 2s;
}

#presentation-subtitle {
    font-size: 2rem;
    font-style: italic;
    font-family: "Exo 2", 'Courier New', Courier, monospace;
    opacity: 50%;
    color: white;
    animation-name: text-apear-animation;
    animation-duration: 8s;
}

@keyframes text-apear-animation {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

/* MAIN */

#flex-app-container {
    display: flex;
    flex-flow: column nowrap;
}

.app-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;
}

.app-container > div {
    height: 80%;
    width: 40%;
    position: relative;
}

.text-app-container > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: "Raleway";
    color: #A8D5E2;
    border-bottom: 1px solid #7699D4;
}

.text-app-container > p {
    text-align: justify;
    margin: 1;
    text-indent: 20px;
    font-size: 1rem;
    font-family: "Raleway";
    color: #A8D5E2;
}

.text-photo-app-container h1, .text-photo-app-container p {
    margin: 0;
    padding: 0;
}

.text-photo-app-container {
    position: absolute;
    bottom: 0;
    opacity: 0%;
    height: 0px;
    width: 100%;

    background-color: #6e6f70;
    transition: 250ms;
    text-indent: 10px;
    font-family: "Exo 2", 'Courier New', Courier, monospace;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.photo-app-container:hover .text-photo-app-container {
    opacity: 100%;
    height: 100px;
}


.photo-app-container img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
    box-shadow: 0px 0px 5px grey;
}

.photo-app-container  {
    text-align: center;
}